<!--mockup for the footer can be found in ~./docs/prototype-->

<!--custom styling for footer; TODO/ move this to style.css-->
<style>
.w3-deepest-purple {color:#fff !important;background-color:#15022d !important}

h4 {
  color: #FFF;
  font-family: 'Merriweather', sans-serif;
}

p {
  color: #FFF;
  font-family: 'Heebo', sans-serif;
}
</style>

<footer>

  <!--first layer-->  
    <!--first column-->
    <section class="w3-container w3-half w3-deep-purple">
      <h4 style="text-align:center;">Support</h4>
      <p style="text-align:center;">
        Email of Repo maintainer: 
        <span>
          <a href = "mailto:elmaven@elucidata.io">elmaven@elucidata.io</a>
        </span>
      </p>
    </section>

    <!--second column-->
    <section class="w3-container w3-half w3-deep-purple">
      <h4 style="text-align:center;">Contact Us</h4>
      <p style="text-align:center;">
        Get in touch with us: 
        <span>
          <a href = "mailto:info@elucidata.io">info@elucidata.io</a>
        </span>
      </p>  
  	</section>

  <!--second layer-->
  <section class="w3-container w3-deepest-purple">
    <p style="text-align:center;">Code and documentation copyright 2017 Elucidata Inc.  Code released under GPL v2.0.  Documentation is released under MIT License.</p>
  </section>

</footer>