<!--mockup for the header can be found in ~./docs/prototype-->

<!--custom styling for header; TODO/ move this to style.css-->
<style>
.logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

</style>

<header>
  <!--logo on the left-->
  <img class="logo-img" src="../../assets/elucidata_logo.svg">
  
  <nav>
    <ul class="navbar">
      <li><a href = "https://www.google.com">SUPPORT</a></li>
      <li><a href = "https://www.github.com">FAQs</a></li>
      <li><a href = "https://www.bitbucket.org">DOWNLOAD</a></li>
      <li><a href = "https://www.youtube.com">GETTING STARTED</a></li>
      <li><a href = "https://www.amazon.com">HOME</a></li>
    </ul>
  </nav>

</header>

