---
title: Home
---

{% extends ".src/layouts/layout.njk" %}

{% block body %}
    
    {% include "./src/layouts/partial/splash.njk" %}
    <!--{% include "./src/layouts/partial/why.njk" %}
    {% include "./src/layouts/partial/visualizationsreimagined.njk" %}
    {% include "./src/layouts/partial/features.njk" %}
    {% include "./src/layouts/partial/donate.njk" %}
    {% include "./src/layouts/partial/userstories.njk" %}
    {% include "./src/layouts/partial/highlights.njk" %}
    {% include "./src/layouts/partial/history.njk" %}
    {% include "./src/layouts/partial/elmavensummary.njk" %}-->
    
{% endblock %}
